<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<a href="/add">Add a Car</a>
<div th:each="eachCar:${shop}">
    <!-- what does the null statement below do? -->
    <img th:src="${eachCar.image}"/>
    <p th:text="${eachCar.model}"></p>
    <p th:text="${eachCar.brand}"></p>
    <p th:text="${eachCar.color}"></p>

   <!-- <p th:text="${eachCar.image}"></p> -->

   <p th:text="${eachCar.available}? 'Rented':'Available'"></p>
    <a th:text="${eachCar.available}? 'Return':'Rent'" th:href="@{/changestatus/{id}(id=${eachCar.id})}"></a>

    <span><a th:href="@{/update/{id}(id=${eachCar.id})}">Update</a></span>
    <span><a th:href="@{/delete/{id}(id=${eachCar.id})}">Delete</a></span>

</div>


</body>
</html>